body {
    background-color: #f6fcff;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
  }
  p {
    font-size: 1.5em;
  }
  input::placeholder,
  textarea::placeholder {
    font-family: "Montserrat", sans-serif;
  }
  
  input:focus,
  textarea:focus {
    outline: none;
  }
  
  input,
  textarea {
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 0.8em 0em;
    background-color: transparent;
  }
  
  input::placeholder,
  textarea::placeholder {
    color: #aaa;
  }
  
  button[disabled] {
    background-color: #aaa;
  }
  
  .container .error {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 5px;
    border-radius: 5px;
  }